/* get layout to look on destop */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
header{
    display: flex;
    justify-content: center;
    border-bottom: 2px black solid;
    width: 90%;
    margin: auto;
}
h1{
    margin-right: 5rem;
    font-size: 45px;
}
header div{
    margin-left: 5rem;
    align-self: center;
    display: flex;
    width: 25rem; 
    height: 2rem;
    justify-content: space-between;
}
#clear-button{
    display: none;
    color: red;
}
main{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
#container{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-evenly;
}
.storage-area{

    width: 250px;
    min-height: 30vh;
    background-color: rgb(49, 11, 201);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}

.food-item{
    margin-top: 1rem;
    background-color: aquamarine;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food-item p{
   text-align: center;
}
/* h3{
    text-align: center;
} */
/* .date{
    text-align: center;
} */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
.tooltip {
    text-align: center;
    position: relative;
    /* display: inline-block; */
    border-bottom: 1px dotted black;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
/* just need to work on functionality of JavaScript */
/* layout to each other storage area */
/* layout of storage inside with items */
/* style button for what event they trigger */
/* style form for adding storage area */
/* style alert for deleting storage area */
/* style form for adding a new item */
/* style alert for deleting  a item */
/* style searchbar */
